@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nosifer&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500;600;700&display=swap');


/* 1024 deki media ya bak max width ayari lazim animasyonlar cok icerden geliyor */

:root{
    --headerBackGroundColor : rgba(0,0,0,1);;
    --headernavColor :rgba(0,0,0,0.9);
    --buttonColor : #E60022;
    --hoverColor : #f7b21d ;
    --headerHeight:79px;
    --borderColor : none;
    /* --borderColorIntro: red; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #FFF;
}


.header-top{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 3rem;
    z-index: 999;
}



.intro-title{
    text-transform: uppercase;
}

.logo{
    font-size: 2.3rem;
    text-transform: uppercase;
    color: white;
}

.menu-nav{
    position: absolute;
    background: #000;
    left: 0;
    top: 100%;
    width: 100%;
    transform-origin: top;
    transform: scale(1,0);
}

.menu-nav-list{
    list-style: none;
    opacity: 0;
    transition: opacity 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: red; */
}

/* ------- menu-nav TRANSTITON in SCRIPT with Button------- */
                                                    /*--*/
.menu-nav.trans{                                    /*--*/
    transition: transform 400ms ease; 
              /*--*/
}                                                   /*--*/
.menu-nav.open{                                     /*--*/
    transform: scale(1,1);                          /*--*/
}
.menu-nav-list.open{
    opacity: 1;
    transition: opacity 400ms ease 300ms;
}
                                                    /*--*/
/* ---------------------------------------------------- */

.menu-nav li{
    margin-left: 0rem;
    margin-bottom: 2rem;
    position: relative;
}

.menu-nav li:nth-child(1){
    margin-top: 1rem;
}

.menu-nav li a {
    font-size: 1.2rem;
    color: white;
}

/* Selected Nav Item */
.menu-nav .selected-a{
    color: #f7b21d;
}
/* Selected Nav Item */

.menu-nav .selected-li::before{
    scale: 1 1;
}

.menu-nav li:hover a{
    color: var(--hoverColor);
}

.menu-nav li::before{
    position: absolute;
    content: '';
    width: 90%;
    height: 3px;
    background: var(--hoverColor);
    bottom: -50%;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left;
    scale:0 0;
    transition: scale 200ms ease;
}



.menu-nav li:hover::before{
    scale: 1 1;
}



.menu-nav a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}

.burger-menu{
    position: absolute;
    left: 0;
    margin-left: 1rem;
    width: 40px;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-menu span,
.burger-menu span::before,
.burger-menu span::after{
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    position: relative;
}

.burger-menu span::before,
.burger-menu span::after{
    content: '';
    position: absolute;
}

.burger-menu span::before{
    top:8px;
}

.burger-menu span::after{
    bottom: 8px;
}
.social-nav{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.social-nav a{ 
    text-decoration: none;
    margin-left: 0.5rem;
}
.social-nav-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-nav-circle:hover{
    background: var(--hoverColor);
}

.social-nav-circle:hover .fa-brands{
    transform: scale(1.3);
    transition: transform 200ms ease;
}

/* -----------------INTRO HERO-------------- */
/* -----------------INTRO HERO-------------- */
/* -----------------INTRO HERO-------------- */
/* -----------------INTRO HERO-------------- */
/* -----------------INTRO HERO-------------- */
/* -----------------INTRO HERO-------------- */


.intro{
    width:100%;
    height:calc(100vh - 72px);
    background-image: url(images/big-mac-burger-french-fries-dark-wood-board-optimized.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x:  95%;
    text-align:  center;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 71px;
}

.intro-container{
    padding: 1rem 1rem;
    margin-bottom: 10vh;
    border: 1px solid var(--borderColor);
}

.intro-title{
    font-size: 3rem;
    max-width: 520px;
    margin: .5rem 0;
    border: 1px solid var(--borderColor);
}

.main-button{
    font-size: 1.1rem;
    padding: 0.6em 1.1em;
    background: var(--buttonColor);
    color:white;
    cursor: pointer;
    margin-top: .5rem;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}

.intro-order-button:hover{
    transform: scale(1.1,1.1);
    transition: transform 300ms ease;
}

.intro-brush-banner{
    width: 200px;
    margin:  0 auto;
    position: relative;
}

.intro-brush-banner-image{
    width: 100%;
    height: 100%;
}

.intro-brush-banner-text{
    color: white;
    font-weight: bold;
    word-spacing: 2px;
    font-style: italic;
}

/* General Styles */
/* General Styles */
/* General Styles */

.center-text{
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

/* General Styles */
/* General Styles */
/* General Styles */



/* ------Burger Ingredients Section---- */
/* ------Burger Ingredients Section---- */
/* ------Burger Ingredients Section---- */
/* ------Burger Ingredients Section---- */
/* ------Burger Ingredients Section---- */
/* ------Burger Ingredients Section---- */

.burger-ingredients{
    display: flex;
    /* align-items: center; */
    /* border: 1px solid red; */
    margin: 1rem 0;
}

.burger-ingredients-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}
.burger-ingredinets-bordered-header-container{
    background: #f7b21d;
    height: 20px;
    position: relative;
    margin: 1rem auto;
    width: 300px;
}

.ingredients-header{
    position: absolute;
    font-size: 1.4rem;
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
    top: -55%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    letter-spacing: 3px;
}

/* .burger-ingredients-text-container-text p:nth-child(1){
    font-size: 1rem;
    color: #EEB860;
    text-align: center;
} */

.burger-ingredients-text-container-text > p {
    font-size:0.9rem;
    margin-bottom: 0.8rem;
    color: rgba(0,0,0,.75);     
}

.burger-ingredients-image-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--borderColorIntro);
    transform: translateX(-80%);
    opacity: 0;
    transition: transform 1.7s ease , opacity 1.7s ease .3s;
}

.burger-ingredients-image-container.mouveIn{
    transform: translateX(0%);
    opacity: 1;
}

.burger-ingredients-image{
    display: block;
    margin: 0 auto;
    width: 65%;
    object-fit: cover;
    border: 1px solid var(--borderColorIntro);
}

.burger-ingredients-text-container{
    padding: 0 0rem;
    border: 1px solid var(--borderColorIntro);
    margin: 0 auto;
    width: 100%;
    transform: translateX(80%);
    opacity: 0;
    transition: transform 1.7s ease , opacity 1.7s ease .3s;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}

.ingredients-button{
    display: block;
    margin: 1.3rem auto 0 auto;
    padding: 0.5em 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.burger-ingredients-text-container-text{
    border: 1px solid var(--borderColorIntro);
}

.burger-ingredients-text-container.mouveIn{
    transform: translateX(0%);
    opacity: 1;
}



/* 
//Burda sorun var uste > p */

.burger-ingredients-list{
    font-size: .83rem;
    list-style: none;
    color: rgba(0,0,0,.65);
}

.burger-ingredients-list-item{
    margin-bottom: 0.8rem;
}


/* BURGER DEALS */
/* BURGER DEALS */
/* BURGER DEALS */

.caursel-deals{
    margin-top: 2rem;
    height: 55vh;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    /* border: 1px solid rebeccapurple; */
    /* background: salmon; */
}

.wrapper{
    width: 100%;
    height: fit-content;
    position: relative;
    margin:  0 auto;
    display: flex;
    /* border: 1px solid red; */
}

.caursel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% /1);
    text-align: center;
    height: 100%;
    width: fit-content;
    overflow: hidden;
    /* background: black; */
    overflow-x: hidden;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
    scrollbar-width: 0;
    margin: 0 0 5rem 0;
    align-items: center;
}

.caursel.dragging{
    cursor: grab;
    user-select: none;
    scroll-behavior: auto;
    /* scroll-snap-type: none; */
}

.wrapper i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #e60023bf;
    z-index: 999;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.wrapper i:hover{
    background: #E60022;
}


.menu-img{
    scroll-snap-align: start;
    height: 50vw;
    max-height: 370px;
    position: relative;
}

.menu-img-text{
    position: absolute;
    left: 10%;
}

.menu-img-text h2{
    color: white;
    width: 150px;
}

.caursel-img{
    width: 90%;
    height: 100%;
    max-width: 640px;
}

.wrapper i:nth-child(1){
    left: 0%;
}

.wrapper i:last-child{
    right: 0%;
}

/* //////////////////////////////// */
/* //////////////////////////////// */
/* //////////////////////////////// */

.burger-text{
    color: white;
    font-style: italic;
}

.burger-menus{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bordered-header-container{
    background:#f7b21d ;
    height: 25px;
    width: 150px;
    position: relative; 
}

.bordered-header-container h1{
    font-size: 2.2rem;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-40%);
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 6px;
}
 
.burger-menus-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,fit-content);
    justify-content: center;
    /* border: 1px solid rebeccapurple; */
    margin:  0 auto;
    justify-items: center;
    margin-top: 1.5rem;
    padding: 0 .3rem;
    gap: 25px;
}

.menu{
    /* border: 1px solid yellowgreen; */
    max-width: 350px;
    width: 100%;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
}

.menu-image{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-image::before{
    content:'';
    width: 64px;
    height: 64px;
    background-image: url(BurgerImages/burger\ \(1\).png);
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: loop;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.menu-image.loaded::before{
    opacity: 0;
}

.burger-image{
    width:70%;
    height: 100%;
    opacity: 0;
}

.menu-image.loaded .burger-image{
    opacity: 1;
}

.menu-info{
    height: 15%;
    text-align: center;
    font-weight: bold;
}

.menu-info p:nth-child(2){
    color: rgba(0,0,0,.65);
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: 500;
}

/* Burgerlerin boyutunu ayarlamak icin her birini ayri style vermem gerekti */
.burger-2{
    height: 73%;
}

.burger-3{
    height: 90%;
}

.burger-4{
    height: 90%;
    width: 65%;
}

.burger-8{
    height: 90%;
}

.burger-9{
    height: 90%;
}

.price-tag{
    color: rgb(211, 25, 25);
    margin-left: .7rem;
}

.burger-menu-button{
    font-size: 1.4;
    margin-top: 2rem;
    padding: .7em 1.7em;
    text-transform: uppercase;
    font-weight: 600;
}

.video-section{
    margin-top: 6.5rem;
    padding: 0rem .7rem;
    height: fit-content;
    /* border: 1px solid hotpink; */
}

.video-section-title,
.instagram-section-title{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    position: relative;
    width: fit-content;
    margin:  0 auto;
    letter-spacing: 3px;
}

.video-section-title{
    line-height: 30px;
}

.video-section-title:before,
.instagram-section-title:before{
    content: '';
    position: absolute;
    background: #f7b21d;
    width: 110%;
    height: 45px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.video-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;
   margin-top: 2rem;
}

.quote-container,
.video-container{
    height: 60vw;
    width: 100%; 
    max-width: 950px;
    max-height: 550px;
}

.video-container{
    position: relative;
}

.quote-img,
.video-img{
    display: block;
    margin:  0 auto;
    width: 100%;
    height: 100%;
}

.play-button{
    width: 45px;
    height: 45px;
    position: absolute;
    background: rgba(255, 255, 255, 0.935);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;

    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button i{
    margin-left: .2rem;
}

/* INSTAGRAMMMM */
/* INSTAGRAMMMM */
/* INSTAGRAMMMM */

.instagram-section{
    margin-top: 6.5rem;
    height: fit-content;
    /* background: red; */
}
.instagram-section-title{
    font-size: 2rem;
    line-height: 45px;
}

.instagram-section-title::before{
    height: 25px;
}

.instagram-container{
    /* background: yellow; */
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid hotpink; */

    margin: 2rem auto 0 auto;
    padding: 0 .5rem;
    
    gap: 4px;

    max-width: 650px;
}


.top-small-instagram-box{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.bottom-small-instagram-box{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.right-long-instagram-box{
    grid-row: 1 / 3 ;
    grid-column: 2 / 3;
}

.bottom-long-instagram-box{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
   
}

.instagram-img{
    width: 100%;
    
}

.right-long-img{
    width: 0%;
}



.join-section{
    margin-top: 2rem;
    background: #E60022;
}

.join-container{
    background: #E60022;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    max-width: 1250px;
    margin:  0 auto;
    padding: 1rem .5rem;

}

.join-container h1{
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: .3rem;
}

.join-text p{
    font-size: .90rem;
    margin-bottom: 1rem;
}

.join-call-to-action input[type='text']{
    display: block;
    margin: 0 auto .9rem auto;
    padding: .6rem .5rem;
    border: none;   
}

.join-call-to-action input[type='text']::placeholder{
    font-size: .9rem;
    font-weight: 600;
    color: rgb(159, 159, 159);
    text-align: center;
}

.join-call-to-action input[type='text']:focus{
    border: none;
    outline-color: #f7b21d;
}

.join-call-to-action button{
    padding: .5rem .7rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    background: #f7b21d;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.join-call-to-action button:hover{
    opacity: .85;
}



.map-section{
    
}

.map-container{
    background-image: url(images/Screenshot\ 2023-11-15\ at\ 12.07.59\ PM-modified.png);
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.map-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-container i{
    font-size: 3.5rem;
    color: #f7b21d;
}

.map-button{
    font-size: .95rem;
    padding: .5em .7em;
    background: #E60022;
    font-family: inherit;
    font-weight: 600;
    color: white;
    border: none;
    margin-top: .5rem;
    cursor: pointer;
}

.map-button:hover{
    opacity: .85;
}

footer{
    background: #252525;
}

.footer-top-container{
    width: 100%;
    grid-template-columns: repeat(4,1fr);
}

.footer-box{
    padding: 1rem .5rem;
    text-align: center;
}

.footer-box:nth-child(1){
    padding: 1rem 0;
}

.footer-box h2{
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:2rem;
    line-height: 40px;
    max-width: min-content;
    margin:  0 auto;
}

.footer-box p{
    color: rgba(255, 255, 255, 0.8);
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-box-icon-text{
    display: flex;
    justify-content: center;
    margin-top: .4rem;
}

.footer-box i{
    color: #f7b21d;
    margin-right: .5rem;
}

.footer-box span{
    color: #f7b21d;
    font-weight: 500;
}

.footer-box li{
    margin-top: .3rem;
}

.footer-bottom-container{
    background: #181818;
    height: 10vh;
}

/* 
/////////////////////     400 PX  /////////////////////////////////////////
*/
@media (max-width: 400px){
    .social-nav{
        display: none;
    }
}
/* 
/////////////////////////////////////////////////////////////////////////
*/





/* 
/////////////////////     550 PX  /////////////////////////////////////////
*/
@media (min-width: 550px){

    .intro{
        background-position-x: center;
    }

    .caursel-deals{
        height: 65vh;
    }

    .burger-ingredinets-bordered-header-container{
        width: 350px;
        height: 23px;
    }


    .ingredients-header{
        font-size: 1.6rem;
        top: -48%;
    }

    .caursel-deals{
        min-height: 420px;
    }
}
/* 
/////////////////////////////////////////////////////////////////////////
*/




/* 
/////////////////////     768 PX TABLET SIZE  /////////////////////////////////////////
*/
@media (min-width: 768px){


    .map-container i{
        font-size: 4rem;
    }
    
    .map-button{
        font-size: 1.2rem;
    }
    

    .map-container{
        height: 40vh;
    }

    .join-container h1{
        font-size: 2.2rem; 
    }

    .join-call-to-action input[type='text']{
        display: inline-block;
        margin: 0;
        margin-right: .5rem;
        width: min-content;
        width: 100%;
        max-width: 420px;
    }

    .join-call-to-action  input[type='text']::placeholder{
        text-align: start;
    }

    .join-call-to-action{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        min-width: 470px;
        padding: 2rem;
    }

    .join-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3.5rem .5rem;
    }

    .join-text {
        width: 53%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .instagram-section{
        
        /* background: teal; */
    }

    .instagram-container{
        max-width: none;
    }
    
    .top-small-instagram-box{
    
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .bottom-small-instagram-box{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    
    .right-long-instagram-box{
        grid-row: 1 / 3 ;
        grid-column: 3 / 4;
    }
    
    .bottom-long-instagram-box{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .instagram-section-title{
        font-size: 2.5rem; 
    }

    /* sss */
    .intro{
        text-align: start;
        align-items: center;
        justify-content: flex-start;
    }    
    
    .intro-brush-banner{
        margin: 0;
    }

    .intro-container{
        max-width: 500px;
    }

    .burger-brush-banner{
        margin: 0;
        width: 40%;
        margin-bottom: 1rem;
    }
  
    .intro-title{
        font-size: 4rem;
    }

    .container{
        margin-top: 1.5rem;
    }  
    
    .menu-nav-list{
        align-items: start;
        height: 100%;
    }

    .menu-nav li{
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .menu-nav li a{
        font-size: 1rem;
    }

    .burger-ingredients{
        margin: 0 0;
        height: 75vh;
        align-items: center;
    }

    .burger-ingredients-container{
        flex-direction: row;
        max-width: 950px;
        padding: 2rem 0;  
        border: 1px solid var(--borderColor);
        align-items: center;
        justify-content: center;
    }

    .burger-ingredients-image-container{
        width: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: transform 1.5s ease , opacity 1.5s ease ;
        margin: 0;
    }

    .burger-ingredients-image-container.mouveIn{
        transform: translateX(0%);
        opacity: 1;
    }
    

    .burger-ingredients-text-container{
        margin: 0;
        width: 50%;
        align-self: center;
        transform: translateX(50%);
        opacity: 0;
        transition: transform 1.5s ease 500ms, opacity 1.5s ease 500ms;
        text-align: start;
        padding: 0 1rem;
    }

    .burger-ingredinets-bordered-header-container{
        margin: 1rem 0;
        width: 365px;
        height: 22px;
    }


    .ingredients-header{
        font-size: 1.8rem;
        top: -70%;
    }
    

    .ingredients-button{
        margin: 1.3rem 0 0 0;
        padding: 0.5em 1.5em;
    }

    .burger-ingredients-text-container.mouveIn{
        transform: translateX(0%);
        opacity: 1;
    }

    .burger-ingredients-text-container-text > p{
        font-size: .95rem;
        margin-bottom: 1.5rem;
    }

    .burger-ingredients-list{
        font-size: .90rem;
    }

    .burger-ingredients-image{
        width: 100%;
        max-width: 400px;
    }

    .burger-menus-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5,330px);
        max-width: 850px;
        gap: 30px;
    }

    .bordered-header-container{
        height: 30px;
        width: 175px;
    }
    
    .bordered-header-container h1{
        font-size: 3rem;
    }

    .caursel-deals{
        height: 75vh;
    }

    .wrapper i{
        height: 35px;
        width: 35px;
        font-size: 17px;
    }

    .wrapper i:nth-child(1){
        left: 3%;
    }
    
    .wrapper i:last-child{
        right: 3%;
    }

    .video-section{
        padding: 1rem 1rem;
        /* background: red; */
        height: fit-content;
    }
    
    .video-section-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        gap: 10px;
    }

    .quote-container,
    .video-container{
        height: 29vw;
        width: 50%;
    }

    
    .video-container{
        position: relative;
    }

    .play-button{
        width: 50px;
        height: 50px;
        font-size: 1.4rem;
    }

    
    .video-section-title{
        font-size: 2.3rem;
        letter-spacing: 6px;
        line-height: 35px;
    }
    
    .video-section-title::before{
        height: 52px;
    }


}
/* 
/////////////////////////////////////////////////////////////////////////
*/





/* 
/////////////////////     1024 PX  /////////////////////////////////////////
*/
@media (min-width: 1024px){

    .map-container i{
        font-size: 4.5rem;
    }
    
    .map-button{
        font-size: 1.5rem;
    }
    
    .map-container{
        height: 60vh;
    }

    .join-call-to-action input[type='text']{
        padding: .7rem .5rem;
    }

    .join-call-to-action button{
        padding: .62rem .7rem;
    }
    

    .join-container{
        padding: 5rem .5rem;
    }

    .join-container h1{
        font-size: 2.5rem;
    }

    .join-container p {
        font-size: 1rem;
    }
    /* // */
    .intro{
        padding: 0 2rem;
    }

    .intro-title{
        font-size: 4.5rem;
        max-width: 650px;
    }

    .header-top{
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-items: center;
    }

    .logo{
        width:fit-content;
        justify-self: self-start;
        margin-left: 0.8rem;
        font-size: 3rem;
    }

    .menu-nav li a{
        font-size: 1.1rem;
    }

    .burger-menu{
        display: none;     
    }

    .menu-nav{
        grid-column: 2/3;
        position: static;
        transform: scale(1,1);
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .menu-nav li{
        margin-top: 20px;
    }

    .menu-nav li:nth-child(1){
        margin-top: 20px;
    }

    .menu-nav-list{
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width:750px ;
    }

    .social-nav{
        position: static;
        justify-self:self-end;
    }

    .menu-nav li::before{
        display: block;
    }

    .intro-title{
        font-size: 4.2rem;
        max-width: 550px;
        margin: 1rem 0;
    }
    
    .intro-order-button{
        padding: 0.7em 1.4em;
    }


    .burger-ingredients-container{
        max-width: none;
        overflow: hidden;
    }

    .burger-ingredients{
        min-height: 700px;
    }
    
    .burger-ingredients-image{
        width: 85%;
        max-width: 650px;
    }

    .burger-ingredients-text-container{
        padding: 0;
     }

     .burger-ingredinets-bordered-header-container{
        margin: 2rem 0;
        width: 450px;
        height: 22px;
    }

    .ingredients-header{
        font-size: 2.3rem;
        top: -100%;
    }

     .burger-ingredients-text-container-text{
        max-width: 550px;
        margin: 0 0 0 right;
     }
     
    .burger-ingredients-text-container-text > p{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    
    .burger-ingredients-list-item{
        font-size: 1rem;
    }

    .burger-menus-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,330px);
    }

    .burger-menus-grid{
        max-width: 1200px;
        gap: 40px;
    }

    .caursel-deals{
        height: 80vh;
    }

    .caursel{
        grid-auto-columns: calc(100% / 2);
    }

    .menu-img{
        height: 30vw;
        max-height: 420px;
    }

    .bordered-header-container{
        height: 35px;
        width: 210px;
    }
    
    .bordered-header-container h1{
        font-size: 3.5rem;
    }

    .wrapper i{
        height: 40px;
        width: 40px;
        font-size: 20px;
    }

    .wrapper i:nth-child(1){
        left: 0%;
    }
    
    .wrapper i:last-child{
        right: 0%;
    }


    .quote-container,
    .video-container{
        /* max-height: 470px; */
        /* height: 10vw; */
        width: 50%;
    }

    
    .video-container{
        position: relative;
    }

       
    .video-section-title{
        font-size: 2.5rem;
        letter-spacing: 6px;
        line-height: 35px;
    }




}
/* 
///////////////////////////////////////////////////////////////////////////
*/

@media (min-width: 1300px) {
   
    .instagram-container{
        grid-template-rows: 300px 470px ;
    }
}



/* 
/////////////////////     1400 PX  /////////////////////////////////////////
*/
@media (min-width: 1404px) {
    .caursel{
        grid-auto-columns: calc(100% / 3);
    }

    .menu-img{
        height: 21vw;
        max-height: 370px;
    }

    .instagram-container{
        grid-template-rows: 300px 380px ;
    }
  
}
/* 
///////////////////////////////////////////////////////////////////////////
*/





/* 
/////////////////////     1600 PX  /////////////////////////////////////////
*/
@media (min-width: 1400px){
  
    .intro-title{
        font-size: 5.7rem;
        max-width: 850px;
    }

    .intro-container{
        max-width: 700px;
    }

    .logo{
        font-size: 3.5rem;
    }
}
/* 
///////////////////////////////////////////////////////////////////////////
*/





/* 
/////////////////////     ANIMATION  /////////////////////////////////////////
*/
@keyframes loop{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.15;
    }
}
/* 
///////////////////////////////////////////////////////////////////////////
*/



